.home-view.view
  padding: 0
  position: relative
  
  .home-hero
    background-color: rgb(51, 184, 254)
    position: relative
    cf()
  
  .title
    color: #fff
    text-align: center
    text-transform: uppercase
    font-family: $standard-font
    
  .content
    position: absolute
    bottom: 0
    width: 100%
    padding-bottom: 100px
    
  form
    display: block
    width: 100%
    max-width: 1000px
    margin: 0 auto
    
    input
      width: 40%
      margin: 0 auto
      display: block
      background: #fff
      border: 0
      padding: 10px 15px
      font-size: em($h4)

  .home-content
    cf()
    padding: 20px
    color: #fff
    text-align: center
    
    .home-title
      padding: 40px 0
      font-weight: 400
      color: $dark-grey
    
    .boxes
      cf()
      margin-bottom: 20px
    
    .box
      padding-right: 20px
      position: relative
      span(1/3)
      
      &:last-of-type
        padding-right: 0
      .box-inner
        display: block 
        height: 300px
        width: 100%
        span()
    
      .title
        position: absolute
        top: 50%
        margin-top: -10px
        line-height: 20px
        width: 100%
        left: 0
        text-align: center

    .large-box
      position: relative
      height: 400px
      padding-top: 100px
      
      .large-box-content
        
        h5
          max-width: 60%
          margin: 0 auto
          display: block
      
        