
//- --------------------------------------------------------
//- Main
//- --------------------------------------------------------

html
  font-size: ($p/16) * 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  
  // ::selection
  //   color: #fff
  //   background: $green 
*
  box-sizing: border-box
  
body
  font: 100% 'Lato', sans-serif
  font-weight: 100
  color: $dark-grey
  line-height: 1.6
  
  a
    outline: 0
    text-decoration: none
    
  h1, h2, h3, h4, h5, h6, p
    font-weight: 300
    margin: 0
    letter-spacing: 0.02em

        
  .h0
    font-size: em($h0)
    
    +media('mobile')
      font-size: em($h1)
  h1
    font-size: em($h1)
    
    +media('mobile')
      font-size: em($h2)
  
  h2
    font-size: em($h2) 

    +media('mobile')
      font-size: em($h3)
      
  h3
    font-size: em($h3)
    
    +media('mobile')
      font-size: em($h4)
    
  h4
    font-size: em($h4)
    
    +media('mobile')
      font-size: em($h5)
  
  h5
    font-size: em($h5)
    

    +media('mobile')
      font-size: em($h6)
  
  h6
    font-size: em($h6)
    
    +media('mobile')
      font-size: 100%
  
  ul
    margin-left: 0
    padding-left: 0
    
    li
      list-style-type: none
    
.view
  display: none
  padding: $nav-height+20px 20px 20px 20px
  
.show-home
  .home-view
    display: block

.show-profile
  .profile-view
    display: block

.show-settings
  .settings-view
    display: block

.show-single-item
  .single-item-view
    display: block  
