
//- --------------------------------------------------------
//- Main
//- --------------------------------------------------------

html
  font-size: ($p/16) * 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  
  // ::selection
  //   color: #fff
  //   background: $green 
*
  box-sizing: border-box
  
body
  font: 100% 'Lato', sans-serif
  font-weight: 100
  color: $dark-grey
  line-height: 1.6
  
  a
    outline: 0
    text-decoration: none
    
  h1, h2, h3, h4, h5, h6, p
    font-weight: 300
    margin: 0
    letter-spacing: 0.02em

        
  .h0
    font-size: em($h0)
    
    +media('mobile')
      font-size: em($h1)
  h1
    font-size: em($h1)
    
    +media('mobile')
      font-size: em($h2)
  
  h2
    font-size: em($h2) 

    +media('mobile')
      font-size: em($h3)
      
  h3
    font-size: em($h3)
    
    +media('mobile')
      font-size: em($h4)
    
  h4
    font-size: em($h4)
    
    +media('mobile')
      font-size: em($h5)
  
  h5
    font-size: em($h5)
    

    +media('mobile')
      font-size: em($h6)
  
  h6
    font-size: em($h6)
    
    +media('mobile')
      font-size: 100%
  
  ul
    margin-left: 0
    padding-left: 0
    
    li
      list-style-type: none
    
.view
  display: none
  padding: $nav-height+20px 20px 20px 20px
  
.show-home
  .home-view
    display: block

.show-search
  .search-view
    display: block

.show-feed
  .feed-view
    display: block

.show-list-item
  .list-item-view
    display: block

.show-my-items
  .my-items-view
    display: block

.show-profile
  .profile-view
    display: block

.show-settings
  .settings-view
    display: block

.show-single-item
  .single-item-view
    display: block

.home-view.view
  padding: 0 
  
  .new-items-list
    margin: 0 
    
    li
      width: 100%
      position: relative
      border-bottom: 1px solid #fff
      background: $grey
      padding-left: 22%
      
      a
        padding: 20px
        display: block
        color: $dark-grey
      
      .listing-img
        width: 20%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background: #000
        display: block
        color: #fff
        text-align: center
        padding-top: 20px
      
      .price
        float: right

.single-item-view.view
 
  .listing-img
    width: 90%
    height: 200px
    display: block
    margin-bottom: 5px
    position: relative
    max-width: 350px
    
    i
      cursor: pointer
      position: absolute
      display: block
      top: 50%
      margin-top: -20px
      color: #fff
      font-size: em($h1)
      
      &.left
        left: 10px
      
      &.right
        right: 10px
      
    
  .buttons
    display: block
    margin-top: 30px
    text-align: left
    
  .item-button
    display: inline-block
    padding: 10px 20px
    border-radius: 5px
    border: 1px solid $dark-grey
    color: $dark-grey
    transition: background 0.4s ease
    &:hover
      background: $grey
    
    &:last-of-type
      margin-left: 10px
 