.nav
  margin: 0 
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 3
  
  .nav-inner
    margin: 0 auto
    width: 100%
    
  ul
    margin: 0 
    
  li
    list-style-type: none
    display: block
    cursor: pointer
    margin: 0 
    
    a
      color: $dark-grey
      font-size: em($h3)
      transition: color 0.3s ease

  
  .top-nav
    margin: 0
    cf()
    width: 100%
     
    li
      margin-left: 20px
      display: inline-block
      list-style-type: none
      text-align: center
      height: $nav-height
      line-height: $nav-height
      cursor: pointer
      position: relative
      float: left
      
      a
        width: 100%
        height: 100%
        top: 0
        left: 0
        display: inline-block
      
      &.burger
        display: inline-block
        // font-size: em($h3)
        float: right
        margin-right: 20px
      &:first-of-type
        border-left: 0
          
.side-nav
  display: none
  width: 100%
  left: 0
  top: 0
  height: 100%
  position: fixed
  
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 0
    opacity: 0.8
    background: #000
  
  .close
    position: absolute
    z-index: 2
    right: 20px
    font-size: em($h3)
    text-transform: uppercase
    top: 20px
    color: $dark-grey
    cursor: pointer
    
  ul
    position: absolute
    width: 80%
    height: 100%
    top: 0
    right: 0
    padding: 30px
    z-index: 1
    border-left: 1px solid #000
    background: #fff

  li
    margin-bottom: 15px
    
    a
      font-size: em($h3)

      &:hover
        color: $dark-grey
        

.show-side-nav
  .side-nav
    display: block
