.home-view.view
  
  .home-hero

    .content
      h1.title pyncone

      form

        input.main-search(placeholder="Search" type="text")

  .home-content
    .home-title
      h2 Rent all 
      h4 Find anything you want to find

    .boxes
      
      .box
      
        .box-inner.coloured

          h3.title Sports

      .box
      
        .box-inner.coloured

          h3.title Entertainment

      .box
      
        .box-inner.coloured

          h3.title Garden


    .large-box.coloured
      
      .large-box-content
        
        h3 RENT

        h5 Anything at all really. Whatever you want. Could be a bike, or a scooter. Even some roller blades if thats the type of shit you're into. Who knows right? Just rent something. Anything. Please. 
