.nav
  .nav-inner
    ul.top-nav
      li 
        a(href="#home") 
          i.zmdi.zmdi-home
      li 
        a(href="#profile") 
          i.zmdi.zmdi-account
      li 
        a(href="#my-items")
          i.zmdi.zmdi-view-dashboard

      li.burger
        a(href="#side-nav")
          i.zmdi.zmdi-menu

  .side-nav
    ul
      //- li 
      //-   a.side-menu-item(href="#search")
      //-     i.zmdi.zmdi-search &nbsp;Search
      //- li 
      //-   a.side-menu-item(href="#profile") 
      //-     i.zmdi.zmdi-account &nbsp;My Profile
      li 
        a.side-menu-item(href="#settings")
          i.zmdi.zmdi-settings &nbsp;Settings

    a.close(href="javascript:void(0)") 
      i.zmdi.zmdi-close-circle