.single-item-view.view

  h1 Lawn Mower
  
  span.listing-img.coloured
    i.zmdi.zmdi-chevron-left.left.color-changer
    i.zmdi.zmdi-chevron-right.right.color-changer

  p This is a great lawnmower.
  p $10/day
  
  .buttons
    a.item-button(href="") Rent this item
    a.item-button(href="") Contact Seller
